body {
    background-color: #d4e9fd;
}

h1 {
    font-family: "Momo Signature", cursive;
}

h4 {
    border-bottom: solid 3px #42bedd;
}

.centrer {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}
