body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(136, 198, 245);
}

.box-size {
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* menu created with flex */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navbar a.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 15px 30px;
}

.navbar ul li a:hover {
    background-color: #111;
    color: white;
    border-radius: 10px;
}
